<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dream Live App">
    <meta name="theme-color" content="rgb(54, 21, 0)"/>
    <link rel="apple-touch-icon" href="/src/public/images/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Dream Live</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <app-bar></app-bar>
    <hero-section></hero-section>
    <main>
        <about-section></about-section>
        <section tabindex="0" id="main-content" class="content">
            <div class="latest">
                <div id="item"></div>
            </div>
        </section>
    </main>
    <footer-bar></footer-bar>
</body>
</html>