@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: linear-gradient(to right, rgb(33, 85, 205), rgb(76, 53, 117));
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: linear-gradient(to top, rgb(76, 53, 117), rgb(44, 16, 77));
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(76, 53, 117);
    border-radius: 20px;
    border: 3px solid rgb(253, 246, 236);
}

/* Skip Content */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: linear-gradient(to right, rgb(10, 161, 221), rgb(55, 27, 88));
    color: white;
    padding: 8px;
    z-index: 10;
}

.skip-link:focus {
    top: 0;
}

/* Header */

.main-header {
    position: relative;
    z-index: 1;
    background: linear-gradient(to left, rgb(44, 16, 77), #022d57);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    mix-blend-mode: hard-light;
}

.header__title {
    font-size: 20px;
    text-decoration: none;
    color: rgb(232, 249, 253);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 100%;
    height: 6em;
}

.main-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav {
    text-align: center;
    justify-content: center;
    z-index: 2;
}

.nav__list {
    display: flex;
}

.nav__list > .nav__item {
    display: inline;
}

.nav__list a {
    display: inline-block;
    padding: 1.5em 1.5em;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(232, 249, 253);
    transition: 0.3s opacity;
}

.nav__list a:hover {
    text-decoration: underline;
    color: rgb(10, 161, 221);
    opacity: 0.7;
}

.nav__item {
    font-size: 17px;
}

/* Menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 3.5em;
    width: 3.5em;
    padding: 0.6em;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #002c4c;
    border: 0;
    cursor: pointer;
    z-index: 30;
}

.menu-toggle input {
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.menu-toggle .check {
    display: block;
    width: 2em;
    height: 0.2em;
    background-color: #EFEFEF;
    border-radius: 0.05em;
} 

/* heros */
.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("./images/hero-image-large.jpg");
    background-color: #0966C2;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    mix-blend-mode: hard-light;
}

.hero__title {
    color: rgb(253, 246, 236);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.8em;
    text-align: center;
    justify-content: center;
    padding: 6em 0 1em 0;
}

.hero__about {
    border: 1px solid #002c4c;
    background-color: #002c4c;
    margin: 0;
    border-radius: 0.7em;
    cursor: pointer;
}

.hero__about a {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(253, 246, 236);
    padding: 1.5em 1.5em;
    text-align: center;
    text-decoration: none;
}
.hero__about:hover {
    background-color: #002c4c;
    animation: pulse 1s ease-in-out;
}

@keyframes pulse {
    0% {
        box-shadow: 
        0 0 25px #0966C2,
        0 0 50px #002c4c;
    }
}

/* about resto */
.about__content {
    display: grid;
    grid-template-columns: 40% 50%;
    padding: 3em;
    background-color: rgb(232, 249, 253);
}

.img__about {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow-x: hidden;
    position: relative;
    width: 80%;
    margin-top: 1.8em;
}

.about__title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.7em;
    color: rgb(44, 16, 77);
    margin: 0.5em 0 0.5em 0;
    margin-top: 2em;
}

.about__description {
    font-size: 1.2em;
    line-height: 1.9em;
    margin-bottom: 3em;
}

/* latest */

.latest {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.latest__label {
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: lighter;
    color: rgb(253, 246, 236);
}

/*post */

.hotels {
    margin: 32px auto auto;
    text-align: left;
}

/* post item */

.post-item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
    border-radius: 5px;
    margin-left: 20px;
    background: rgb(232, 249, 253);
    box-shadow: 5px 3px 10px 5px rgba(0,0,0,0.6);
    text-align: center;
    z-index: 0;
}

.post-item>h2 {
    margin: 5% 0 5%;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    letter-spacing: .15em;
    color: #333;
}

.details {
    width: 95%;
    height: 57vh;
    align-items: center;
    margin: 0 auto 2em;
    padding-top: 10.5em;
    padding-bottom: 1em;
    background-color: #c8e9f8;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    transition: all ease-in 0.15s;
    z-index: -1;
}

.post-item:hover .details{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 5px rgba(0,0,0,0.22);
    transform: translate(0px, -2px) scale(1.01);
}

.details>h2 {
    font-family: "Playfair Display";
    font-size: 1.3em;
    margin: 8% 0 4%;
}

.post-item__title a {
    font-family: sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 0.1em;
    transition: 0.3s opacity;
    color: rgb(44, 16, 77);
}

.post-item__title a:hover {
    color: #022d57;
    opacity: 0.5;
}

.details>p {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    margin: 4% 0 4%;
}

.image{
    position: relative;
    z-index: 0;
    width: 85%;
    margin: 0 auto -10em;
    background-size: cover;
    background-position: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    transition: all ease-in .15s;
}
.post-item:hover .image{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate(0px, -3px) scale(1.02);
}

.post-item__thumbnail {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 35vh;
    object-fit: cover;
}

/* Detail List Restaurant */

.hotel-detail {
    background: rgb(232, 249, 253);
    box-shadow: 12px 7px 21px 3px rgba(0,0,0,0.84);
    -webkit-box-shadow: 12px 7px 21px 3px rgba(0,0,0,0.84);
    -moz-box-shadow: 12px 7px 21px 3px rgba(0,0,0,0.84);
    text-align: left;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid-detail {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 6em 6em 1em 6em;
    justify-content: center;
    align-items: center;
}

.detail-img {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    background-position: center;
    object-fit: cover;
    width: 100%;
    margin: 1em;
}

.detail-info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(54, 21, 0);
    margin: 0.5em  ;
    
    
    
}

.detail-info p {
    margin: 0.5em;
    font-size: 1.2em;
}

.detail-info h4 {
    margin: 0.5em;
    font-size: 1.2em;
}

.detail-nama {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(54, 21, 0);
}

.grid-city-rating {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.city-detail {
    padding: 0.5em 1em;
    margin: 1em 0;
    background-color:  rgb(10, 161, 221);
    width: fit-content;
    border-radius: 1em;
}

.rating-detail {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0.5em 1em;
    margin: 1em;
    background-color:  rgb(10, 161, 221);
    border-radius: 1em;
}

.p-rating-detail {
    margin: 0 .5em;
    font-weight: 600;
    color: rgb(54, 21, 0);
    font-size: 12px;
}

.flex-category {
    display: flex;
    flex-wrap: nowrap;
    padding: 1em 0;
}

.flex-category h4 {
    font-size: 1.2em;
}


.span-category {
    margin: .25em .5em;
    font-size: 12px;
}

.p-padding {
    padding: .5em 0;
    margin-bottom: 1em;
}

.description-detail {
    padding: 0.2em;
}

.p-description {
    text-align: justify;
    padding: .5em 0;
    font-size: 1.2em;
    line-height: 1.9em;
}


/* no-favorite restaurants */
.no-favorite {
    text-align: center;
    align-items: center;
    font-weight: lighter;
    color: rgb(199, 186, 168);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.5em;
}


/* Form Review */

form {
    display: flex;
    flex-direction: column;
    margin: 2em 2em 2em 0;
    padding: 1.5em;
    border: 2px;
    border-radius: 0.5em;
    background: linear-gradient(to bottom right, rgb(148, 106, 43), rgb(78, 45, 4));
    box-shadow: 11px 7px 21px 3px rgba(0,0,0,0.76);
    -webkit-box-shadow: 11px 7px 21px 3px rgba(0,0,0,0.76);
    -moz-box-shadow: 11px 7px 21px 3px rgba(0,0,0,0.76);
}

.form-input {
    display: block;
    width: 100%;
    min-height: 1em;
    padding: 1em;
    margin: .5em 0;
    color: #212121;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #7D7D7D;
    appearance: none;
    border-radius: 0.5em;
}

input[type=text]:hover{
    border:2px solid rgb(117, 54, 9);
    box-shadow: 0 0 5px rgb(117, 54, 9), inset 0 0 5px rgb(117, 54, 9), 0 2px 0 rgb(0, 0, 0);
}

.input-review {
    padding-bottom: 5em;
}

.form-label {
    padding-bottom: 8px;
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(253, 246, 236);
}

.form-margin {
    margin-bottom: 1.3em;
    margin-top: 0.5em;
}

.submit {
    align-self: flex-end;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #F0F0F0;
    margin: 0;
    padding: 1.5em 3em;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(54, 21, 0);
    background-color: rgb(54, 21, 0);
    border-radius: 0.7em;
    cursor: pointer;
}

.submit:hover {
    background-color: #002c4c;
    animation: pulse 1s ease-in-out;
}

@keyframes pulse {
    0% {
        box-shadow: 
        0 0 25px #0966C2,
        0 0 50px #002c4c;
    }
}

.submit-review {
    margin-top: 2em;
}


/* Reviews */

/* .reviewer-label {
    padding-top: 2em;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8em;
    font-weight: lighter;
    color: rgb(54, 21, 0);
}

.restaurant-reviews {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 2em 2em 3em 0;
}

.grid-review {
    width: 100%;
    margin-bottom: 1.5em;
    background: rgb(245, 239, 231);
    border: 3px solid rgb(54, 21, 0);
    border-radius: .5em;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: justify;
    overflow: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.grid-review::-webkit-scrollbar {
    width: 10px;
}
  
.grid-review::-webkit-scrollbar-thumb {
    background-color: rgb(78, 45, 4);
    border-radius: 20px;
    border: 3px solid rgb(253, 246, 236);
}

.review-description {
    padding: 1em;
    font-size: 1.5em;
    color: rgb(109, 62, 5);
} */


/* About Us Page */
.about-us__content{
    width:100%;
 }
 .about-us__content h1{
    font-size:50px
 }
 .about{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .about .left{
    padding:2% 0;
    float:left;
    width:50%;
    display:inline-block;
 }
 .about .right{
    width:50%;
    display:inline-block;
 }
 .about .right img{
    width:100%
 }
 .about .left h1{
    text-align:center;
    color:#1EADFF;
    margin:0 0 10px 0;
 }
 .about .left hr{
    width:20%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .about .left p{
    font-size:1.5em;
    margin:40px auto;
    width:80%
 }
 
 .mission{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .mission .right{
    padding:2% 0;
    width:50%;
 
    display:inline-block;
 }
 .mission .left{
    float:left;
    width:50%;
 
    display:inline-block;
 }
 .mission .left img{
    width:100%;
 }
 .mission .right h1{
    text-align:center;
    color:#1EADFF;
    margin:0 0 20px 0;
 }
 .mission .right hr{
    width:35%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .mission .right p{
    font-size:1.5em;
    padding: 3%;
    margin:40px auto;
    width:80%
 }
 
 
 .team{
    width:90%;
    margin:auto;
    padding:5% 5%;
    overflow:hidden;
 }

 .clear{
     clear: both;			
 }


.team-card {
    width: calc((100% - 9rem) / 4);
    float: left;
    text-align: center;
  }
  
  .team-card:not(:first-of-type) {
    margin-left: 3rem;
  }
  
  .team-card-img {
    width: 200px;
    border-radius: 10px;
    height: 250px;
  }
  
  .team-name {
    font-size: 1.8rem;
    color: #1EADFF;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 1rem;
  }
  
  .team-title {
    font-size: 1.2rem;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 0.5rem;
  }
  
  .team-card-image {
    position: relative;
    overflow: hidden;
  }
  
  .team-card-image-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.603);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .team-card-image:hover .team-card-image-inner {
    top: 0;
    left: 0;
  }
  
  .team-icons {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #1EADFF;
  }

/* Like */

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border: 1px solid rgb(54, 21, 0);
    background: linear-gradient(to left, rgb(28, 10, 0), rgb(54, 21, 0));
    color: rgb(247, 110, 17);
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.like:hover {
    background-color: rgb(54, 21, 0);
    animation: liked 1s ease-in-out;
    transform: scale(1.03);
}

@keyframes liked {
    0% {
        box-shadow: 
        0 0 25px rgb(54, 21, 0),
        0 0 50px rgb(247, 110, 17);
    }
}

/* footer */

.main-footer {
    background: linear-gradient(to left, rgb(44, 16, 77), #022d57 );
    padding: 2em;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.p-footer {
    display: inline-block;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(232, 249, 253);
    font-size: 18px;
}
